.navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.logo {
  //make img infinite rotate 360degree on hover
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .logo:hover {
//   // -webkit-transform: rotate(360deg);
//   // transform: rotate(360deg);
// }

.nav-item {
  display: inline-block;
  margin-right: 1rem;
  margin-top: auto;
}

.jumbotron {
  height: 100vh;
  background-image: url("../img/black-wavy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: #fff;
  padding: 100px 25px;

  h2 {
    font-family: "Times New Roman PS Bold", sans-serif;
    font-weight: bold;
  }
  img {
    width: 15%;
  }
}

.about-me {
  margin-top: 10px;
}

.portfolio {
  background-color: #000000;
  z-index: -1;
  // opacity: 0.8;
}

.navbar {
  z-index: 1;
  background: transparent;
}

.btn-outline-dark {
  z-index: 1;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

.form-check-input:checked {
  background-color: #212529;
}

.form-check-input:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

.line {
  width: 5%;
  height: 5px;
  border: none;
  background-color: #6c757d;
  margin: auto;
}

.category {
  font-size: 12px;
  margin-right: 3px;
  padding: 2px 7px;
  // padding-top: 3px;
  // padding-bottom: 3px;
}

//make logo in class footer-link like in navbar
.footer-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

section {
  padding-top: 5rem;
}

.bi-chevron-down {
  color: white;
  opacity: 0.5;

  //make icon opacity 1 when hover
  &:hover {
    opacity: 0.8;
  }
}

.icon-white {
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }
}
