html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }
}

.logo {
  //make img infinite rotate 360degree on hover
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .logo:hover {
//   // -webkit-transform: rotate(360deg);
//   // transform: rotate(360deg);
// }

.nav-item {
  display: inline-block;
  margin-right: 1rem;
  margin-top: auto;
}

.jumbotron {
  height: 100vh;
  background-image: url("../img/black-wavy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  color: #fff;
  padding: 100px 25px;

  h2 {
    font-family: "Times New Roman PS Bold", sans-serif;
    font-weight: bold;
  }
  img {
    width: 15%;
  }
}

.about {
  img {
    width: 70%;
  }
}
// .about-me {
//   margin-top: 10px;
// }

.portfolio {
  background-color: #000000;
  position: relative;
  bottom: 1px;
  z-index: -1;
  padding-top: 7rem;

  // opacity: 0.8;
}

.navbar {
  z-index: 1;
  background: transparent;
}

.btn-outline-dark {
  z-index: 1;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

.form-check-input:checked {
  border-color: #212529;
  background-color: #212529;
}

.form-check-input:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

hr {
  margin: auto;
  height: 2px;
  background-color: darkred;
}
// .line {
//   width: 100%;
//   height: 5px;
//   border: none;
//   background-color: #6c757d;
//   margin: auto;
// }

// .lineMedium {
//   width: 50%;
//   height: 5px;
//   border: none;
//   background-color: #6c757d;
//   margin: auto;
// }

// .lineShort {
//   width: 5%;
//   height: 5px;
//   border: none;
//   background-color: #6c757d;
//   margin: auto;
// }

.category {
  font-size: 12px;
  margin-right: 3px;
  padding: 2px 7px;
  // padding-top: 3px;
  // padding-bottom: 3px;
}

//make logo in class footer-link like in navbar
.footer-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

section {
  padding-top: 9rem;
}

.bi-chevron-down {
  color: white;
  opacity: 0.5;

  //make icon opacity 1 when hover
  &:hover {
    opacity: 0.8;
  }
}

.icon-white {
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }
}

.img-thumbnail {
  border-width: 0;
}

th {
  font-size: 1.2rem;
}

.noHover {
  pointer-events: none;
}

.list-group-item {
  border: none;
}

.fadeIn {
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.skills {
  margin-left: 6rem;
}

.link {
  text-decoration: none;
  font-weight: bolder;
  color: black;

  &:hover {
    color: black;
    // border-bottom: 2px solid black;
    text-decoration: underline;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
}

// .nav-page {
//   margin-inline-start: 450px;
// }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

form.sending .btn-loading {
  display: inline-block;
}

form.sending .btn[type="submit"] {
  display: none;
}

form:not(.sending) .btn-loading {
  display: none;
}

form:not(.sending) .btn[type="submit"] {
  display: inline-block;
}

// .swiper-pagination {
//    color: #3e2bce !important; /* warna teks */
//   background-color: #3e2bce !important; /* warna latar belakang */
// }

/* warna latar belakang untuk tanda halaman yang tidak aktif */
.swiper-pagination-bullet {
  opacity: 0.5 !important;
  background-color: #c7c7cf !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #198754 !important; /* warna latar belakang untuk tanda halaman yang aktif */
}

//buat swiper-button-next dan swiper-button-prev ketika di hover muncul warna background dan berbentuk lingkaran
.swiper-button-next,
.swiper-button-prev {
  // background-color: #198754;
  // border-radius: 50%;
  padding: 2rem;
  // width: 22px !important;
  // height: 22px !important;
  //rounded circle
  // width: 0.5rem !important;

  border-radius: 50%;
  opacity: 0.3;
  background-color: #c7c7cf !important;
  &:hover {
    opacity: 0.8;
  }
}

.preloader {
  z-index: 999;
}

.scroll-top {
  z-index: 1;
}

.icon-skill {
  width: 96px;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}
