// html {
//   font-size: 16px;
//   font-family: "Roboto", sans-serif;
//   color: #333;
//   line-height: 1.5;
//   font-weight: 400;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.logo {
  //make img infinite rotate 360degree on hover
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  &:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// .logo:hover {
//   // -webkit-transform: rotate(360deg);
//   // transform: rotate(360deg);
// }

.nav-item {
  display: inline-block;
  margin-right: 1rem;
  margin-top: auto;
}

.jumbotron {
  background-image: url("../img/black-wavy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
  padding: 100px 25px;

  h2 {
    font-family: "Times New Roman PS Bold", sans-serif;
    font-weight: bold;
  }
  img {
    width: 15%;
  }
}

.bi-arrow-down-circle-fill {
  width: 30px;
  height: 30px;
}

.about-me {
  margin-top: 10px;
}

.portfolio {
  background-color: #000000;
  z-index: -1;
  // opacity: 0.8;
}

.navbar {
  z-index: 1;
}

.btn-outline-dark {
  z-index: 1;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

.form-check-input:checked {
  background-color: #212529;
}

.form-check-input:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}
