html,
body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}
.navbar-brand:hover {
  opacity: 0.8;
}

.logo {
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  transform: rotate(360deg);
}

.nav-item {
  display: inline-block;
  margin-right: 1rem;
  margin-top: auto;
}

.jumbotron {
  height: 100vh;
  background-image: url("../img/black-wavy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 100px 25px;
}
.jumbotron h2 {
  font-family: "Times New Roman PS Bold", sans-serif;
  font-weight: bold;
}
.jumbotron img {
  width: 15%;
}

.about img {
  width: 70%;
}

.portfolio {
  background-color: #000000;
  position: relative;
  bottom: 1px;
  z-index: -1;
  padding-top: 7rem;
}

.navbar {
  z-index: 1;
  background: transparent;
}

.btn-outline-dark {
  z-index: 1;
}

.form-control:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

.form-check-input:checked {
  border-color: #212529;
  background-color: #212529;
}

.form-check-input:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #212529;
}

hr {
  margin: auto;
  height: 2px;
  background-color: darkred;
}

.category {
  font-size: 12px;
  margin-right: 3px;
  padding: 2px 7px;
}

.footer-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

section {
  padding-top: 9rem;
}

.bi-chevron-down {
  color: white;
  opacity: 0.5;
}
.bi-chevron-down:hover {
  opacity: 0.8;
}

.icon-white {
  color: white;
  opacity: 0.5;
}
.icon-white:hover {
  opacity: 0.8;
}

.img-thumbnail {
  border-width: 0;
}

th {
  font-size: 1.2rem;
}

.noHover {
  pointer-events: none;
}

.list-group-item {
  border: none;
}

.fadeIn {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.skills {
  margin-left: 6rem;
}

.link {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}
.link:hover {
  color: black;
  text-decoration: underline;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

form.sending .btn-loading {
  display: inline-block;
}

form.sending .btn[type=submit] {
  display: none;
}

form:not(.sending) .btn-loading {
  display: none;
}

form:not(.sending) .btn[type=submit] {
  display: inline-block;
}

/* warna latar belakang untuk tanda halaman yang tidak aktif */
.swiper-pagination-bullet {
  opacity: 0.5 !important;
  background-color: #c7c7cf !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #198754 !important; /* warna latar belakang untuk tanda halaman yang aktif */
}

.swiper-button-next,
.swiper-button-prev {
  padding: 2rem;
  border-radius: 50%;
  opacity: 0.3;
  background-color: #c7c7cf !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
}

.preloader {
  z-index: 999;
}

.scroll-top {
  z-index: 1;
}

.icon-skill {
  width: 96px;
  opacity: 0.5;
}
.icon-skill:hover {
  opacity: 0.8;
}

.typewriter {
  white-space: nowrap;
  letter-spacing: 0.15em; /* Jarak antara huruf */
}

@media (max-width: 768px) {
  .img-portfolio {
    width: 75% !important;
  }
}
@media (max-width: 576px) {
  .text-portfolio {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */